<div class="container">
  <h1><%=@restaurant.name%></h1>
  <div class="main-content">
  <p class="address"><%=@restaurant.address %></p>
  <p class="phone"><%= @restaurant.phone_number%></p>
  <p class="category"><%= @restaurant.category.capitalize%></p>
</div>

<div class="review-content">
  <ul>
  <% @restaurant.reviews.each do |t| %>
<li><%= t.content%> <%=t.rating %></li>
<% end %>
</ul>
</div>
<%= link_to "Create Review", new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
<%= link_to "Home", restaurants_path, class: "btn btn-primary" %>
</div>
